<header>
  <div class="mx-auto">
    <div class="bg-gray-700 p-6">
      <div class="flex justify-between text-white items-center">
        <div> 
          <%= link_to I18n.t('title'), root_path, class: "text-xl font-bold" %>
        </div>
        <div class="flex items-center">
          <% if signed_in? %>
            <div class="flex justify-between items-center">
              <div class="w-8 h-8 rounded-full overflow-hidden border border-gray-300">
                <%= image_tag(avatar_url, alt: nickname, class: "w-full h-full object-cover") %>
              </div>
              <span class="mx-2"> <%= nickname %> </span>
              <%= render Ui::Buttons::SteamComponent.new(path: logout_path, method: :delete) do %>
                <%= t('.logout') %>
              <% end %>
            </div>
          <% else %>
            <%= render Ui::Buttons::SteamComponent.new(path: '/auth/steam') do %>
              <%= render Icons::SteamComponent.new %>
              <span class="ml-2"> 
                <%= t('.signin') %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>